/* 16px == 1rem */
html { font-size: 16px; }

img {
  width: 25%
}

article {
  padding: 2rem;
  background-color: purple;
  margin:auto;
  width: 60%;
}

.amendment-title {
  color: green;
  text-align: center;
  font-size: 2rem;
}

.amendment-title:hover {
  color: rgba(92, 213, 235, 0.4);

}

.amendment-title::first-letter {
  font-size: 5rem;
}

.amendment-body {
  text-align: center;
}

.document-history {
  background-color: #f8f8f8f8;
  height: 8rem;
  width: 40%;
  margin:auto;
}

/* nested selector -- selects <p> inside .document-history */
.document-history p {
/*  width: 50%;*/
  font-family: "Arial", sans-serif;
}

.document-history h4 {
  background-color: #FFEFD5;
}

#bill-of-rights {
  font-style: italic;
}

.highlight {
  background-color: salmon;
}
